<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://www.zdnet.com/a/img/2016/11/09/fbe9f63a-88f3-4720-9082-ae4aa7531e02/local-administrator-account.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container {
            width: 80%; /* Adjust as needed */
            margin: auto;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        .box {
            width: 45%; /* Adjust as needed */
            background-color: white;
            border-radius: 12px;
            padding: 20px;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 20px; /* Smaller padding */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px; /* Smaller font size */
            margin-top: 10px; /* Space out the button from the image */
            cursor: pointer;
            border-radius: 12px; /* Rounded corners */
            box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Slight shadow for depth */
            width: 100%; /* Full width */
        }
        .image-container img {
            width: 100%; /* Full width */
            height: auto;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;" class="text-white">Welcome to the Admin Home Page</h1>

    <div class="container">
        <div class="box">
            <div class="image-container">
                <img src="https://pbs.twimg.com/profile_images/1569042737512456192/YJ838K_-_400x400.jpg" alt="Employee">
            </div>
            <button class="button" onclick="window.location.href='/employee'">Manage Employee</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="https://image.made-in-china.com/2f0j00YqZRhIFnMScs/New-Lamborghini-Sian-Licensed-Kids-Electric-Ride-on-Car-Toys.jpg" alt="Employee">
            </div>
            <button class="button" onclick="window.location.href='/car'">Manage Cars</button>
        </div>

        <div class="box">
            <div class="image-container">
                <img src="https://bizweb.dktcdn.net/100/382/833/products/hgtwfm-1144-gundam-pharact.jpg?v=1673416640247" alt="Toy">
            </div>
            <button class="button" onclick="window.location.href='/toy'">Manage Toys</button>
        </div>
    </div>
</body>
</html>
