<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        body {
            background-image: url(https://t4.ftcdn.net/jpg/03/82/89/63/360_F_382896342_20jSBLU4tivgzgRjpTTHNwvzdcX2ADa3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            background-color: #dfe3e9;
            border-radius: 15px;
            justify-content: space-between;
        }
        .nav-item {
            text-transform: capitalize;
            color: black !important;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nav-item:first-child {
            margin-right: auto;
        }
        .form-container {
            background-color: white;
            border: 2px solid black;
            border-radius: 15px;
            padding: 20px;
        }
        .table-bordered th, .table-bordered td {
            border: 2px solid black;
        }
        .ad img { /* Adjust the size of the images */
            width: 100%; /* Medium size */
            height: auto; /* Keep aspect ratio */
        }
        .ad {
            border: 1px solid #ccc;
            padding: 10px;
            margin: auto; /* Center the ads */
        }
        .ads-container {
            display: flex;
            justify-content: center; /* Center the ads */
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #0f0f0f;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        .landscape img { /* Adjust the size of the landscape image */
        width: 100%; /*  size */
        height: auto;
    }
    </style>
</head>
<body>
    <ul class="nav mt-3 mb-3">
        <li class="nav-item h2">
           <a class="nav-link" href="/home">Home</a>
       </li>
        
       <li class="nav-item h2">
           <a class="nav-link" href="/admin">ADMIN</a>
       </li>
    </ul>
    <div class="ads-container">
       <div class="ad">
           <img src="https://file.hstatic.net/1000231532/file/mua_gundam_rg_hcm_nshop_df9038231e854f6daf61aa3e8b6113a1_grande.png" alt="Preview Prodcut">
       </div>
       <div class="ad">
           <img src="https://file.hstatic.net/1000231532/file/mua_gundam_pg_nshop_hcm_0a4d3ab80cea42fbb8903b046642bb75_grande.png" alt="Preview Product">
       </div>
       <div class="ad">
           <img src="https://file.hstatic.net/1000231532/file/mua_gundam_rg_hcm_nshop_df9038231e854f6daf61aa3e8b6113a1_grande.png" alt="Preview Prodcut">
       </div>
    </div>
    <div class="ad landscape">
    <img src="https://annaclegg.myblog.arts.ac.uk/files/2018/01/IMG_3141.jpg" alt="Landscape Image">
    </div>
    <div class="footer">
       Learn more about Gundam <a href="https://en.wikipedia.org/wiki/Gundam">ATN Gundam Shop</a>.
    </div>
</body>
</html>
